body{
	background-color: #373F27;
	font-family: 'Playfair Display', sans-serif;
	color: #E9E7DA;
}

.row #mainheader {
	font-family: 'Montserrat';
	font-size: 800;
	color: #CDA34F;
}

.row .col-md-12 .subheader {
	font-family: 'Montserrat';
	font-size: 600;
	font-style: italic;
	color: #CDA34F;
}

.navbar{
	background-color: #636B46;
	border-color: #636B46;
}

.navbar-inverse .navbar-nav>li>a{
	color: #E9E7DA;
}

.navbar-inverse .navbar-toggle{
	border-color: #636B46;
}
.portfolio-space{
	margin-bottom:50px;
}


.subheader{
	font-size: 30px;
}
